.menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #212232;

  padding: 14px 20px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    &--active {
      .icon {
        * {
          fill: red;
        }
      }
    }
  }
}
