.menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid black;

  padding: 18px 20px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
